<mat-accordion *ngIf="messageService.getMessages().length">
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Messages </mat-panel-title>
      <mat-panel-description>
        {{ messageService.getMessages().length }} message(s)
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button
      mat-raised-button
      color="warn"
      (click)="messageService.clear()"
      class="clear"
    >
      Clear messages
    </button>
    <div *ngFor="let message of messageService.getMessages()">
      {{ message }}
    </div>
  </mat-expansion-panel>
</mat-accordion>
