<h2>My Heroes</h2>
<ul>
  <li
    *ngFor="let hero of heroes"
    (click)="onSelectHero(hero)"
    class="hero"
    [class.selected]="hero === selectedHero"
  >
    <span>
      <b>{{ hero.id }}</b> - {{ hero.name }}
    </span>
  </li>
</ul>

<hr />

<section *ngIf="selectedHero">
  <h2>{{ selectedHero.name | uppercase }} Details</h2>
  <div>
    <label>Id: </label>
    <span>{{ selectedHero.id }}</span>
  </div>
  <div>
    <label>Nome: </label>
    <span>{{ selectedHero.name }}</span>
  </div>
  <div>
    <label>Data de Nastimento: </label>
    <span>{{ selectedHero.dt_nascimento | date: "dd/MM/yyyy" }}</span>
  </div>
  <div>
    <label>Nome: </label>
    <input [(ngModel)]="selectedHero.name" placeholder="name" type="text" />
  </div>
</section>
